[project]
	description = Using docker running on coreos to create jenkins slaves
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/matt urbanski (iflowfor8hours)
[access "refs/for/refs/*"]
	read = group user/matt urbanski (iflowfor8hours)
	push = group user/matt urbanski (iflowfor8hours)
	label-Code-Review = -2..+2 group user/matt urbanski (iflowfor8hours)
	label-Verified = -1..+1 group user/matt urbanski (iflowfor8hours)
	rebase = group user/matt urbanski (iflowfor8hours)
	removeReviewer = group user/matt urbanski (iflowfor8hours)
	submit = group user/matt urbanski (iflowfor8hours)
[access "refs/heads/*"]
	read = group user/matt urbanski (iflowfor8hours)
	create = group user/matt urbanski (iflowfor8hours)
	push = +force group user/matt urbanski (iflowfor8hours)
	pushMerge = group user/matt urbanski (iflowfor8hours)
[access "refs/tags/*"]
	push = +force group user/matt urbanski (iflowfor8hours)
	pushTag = group user/matt urbanski (iflowfor8hours)
	pushSignedTag = group user/matt urbanski (iflowfor8hours)
